@model A16TPWebAppEvgeniiMorgunov.Models.Livre

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Livre</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="~/images/livre/@Model.Image" alt="@Model.Title" class="img-fluid mb-3" />
            }
            else
            {
                <div class="bg-light d-flex align-items-center justify-content-center" style="height: 300px; width: 100%;">
                    <span class="text-muted">Pas d'image</span>
                </div>
            }
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Price) €
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="mt-3 pb-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Modifier</a> |
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>