@model A16TPWebAppEvgeniiMorgunov.Models.User

@{
    ViewData["Title"] = "Détails";
}

<h1>Détails</h1>

<div>
    <h4>Utilisateur</h4>
    <hr />
    <div class="card mb-4">
        <div class="card-header">
            <h5>@Model.Name @Model.FamilyName</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FamilyName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FamilyName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Tel)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Tel)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Modifier</a> |
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>